.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-align: right;
  text-decoration: none;
  transition-duration: 1s;
}

.feynman__link:hover {
  opacity: .5;
}
