.header__title {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  margin: auto 64px;
  width: 730px;
  height: 192px;

  font-style: normal;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 2;
  color: #000000;
}
